@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

table {
    border-collapse: collapse;
    border: 2px solid hsl(45deg 99% 51%);
    margin: 20px auto;
    width: 608px;
    height: 229px;
    font-size: 20px;
    
}

th {
    text-align: center;
    padding: 30px;
    font-family: Roboto;
    background: hsl(45deg 99% 51%);
    font: bold;
}
td {
    text-align: left;
    padding: 30px;
    font-family: Roboto;
    color: white;
    background: hsl(251deg 43% 30%);
    font: bold;
}

th, td {
    border: 1px solid gold;
}

.gold {
    background: hsl(42deg 78% 54%);
}